
@import '~mdb-ui-kit/css/mdb.min.css';

.nav-link a{
    color: #000;
}

.navbar-nav a{
  background-color: #0D47A1;
}

.navbar {
  background-color: #0D47A1;
}
.nav-item a{
  color: red;
}

.navhead a {
 color: #5a5757;;
 text-decoration: none;
 font-size: 20px;
  padding: 25px 10px;

  display: block;
  font-weight: 600;
}

.header-topbar {
  background-color: #1A237E;
  padding: 10px 0;
}
.header-topbar-info p {
  font-size: 15px;
  margin-right: 10px;
  color: #fff;
}

.header-topbar-social a {
  font-size: 15px;
  color: #fff;
  margin-left: 15px;
}

.header-topbar-social a{
  /* text-align: end; */
  
}

.line a {
  padding: 5px 10px;
  /* text-align: end; */
  /* padding-ri: 10px; */
  
}

.images1{
    /* width: 500px; */
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.carousel-caption {
    background: #fff;
    padding: 45px 60px;
    /* padding-top: 45px; */
    /* padding-top: 40px; */
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: -1.25rem;
    padding-bottom: 1.25rem;
    color: #000;
    text-align: left;
    width: 700px;

}

.back{
    height: 600px;
    color: red;
}

.carousel-caption h3{
    font-size: 50px;
    line-height: 1.2;
    font-family: "Rubik", sans-serif;
    color: var(--clr-body-heading);
    font-weight: 600;
}

.carousel-caption p{
    font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #3b71ca;
  font-weight: 400;
}

.service-border:nth-child(2) {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
  }
  .service-border {
    border: 1px solid #ececec;
  }

  .bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
  }
  .row.g-0 {
    --bs-gutter-x: 0;
  }
  .row  {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);

  }
  .pt-110 {
    padding-top: 110px;
  }

  .service-item {
    width: 100%;
    height: 100%;
    padding: 40px 40px 50px;
    position: relative;
    z-index: 5;
    overflow: hidden;
  }

  .service-content-title a{
    font-size: 28px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #000000;
    font-family: 600;
  }
  .bg-light {
    --bs-bg-opacity: 1;
    background-color: #f7f7f7;
  }

  .service-content p {
    font-size: 16px;
    margin-bottom: 0;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #606164;
  }
  .service-icon svg{
    width: 80px;
    height: 80px;
    color:  #0d6efd;
    /* padding-top: 5px; */
    padding-bottom: 15px;
  }
  .service-section {
    background-color: #D9E9E9;
    height: 100%;
    width: 100%;
    padding: 50px 40px;
    display: grid;
    place-items: center;
  }
  .section-title {
    /* font-size: 46px; */
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
  }
  .f-46 {
    font-size: 42px;
  }
  .section-subtitle {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #14A44D;
    display: inline-block;
    margin-bottom: 10px;
  }
  .service-content-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

   /* footer */
.bac{
    background-color: #262626;
    
  }
  .social1 {
    display: flex !important;
   
  }
  .social1 svg {
    color: #fff;
  }

.bac span{
    color: #fff;
    font-weight: 600;
  }

  .sociallinks h6{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
  }

  .sociallinks p{
    color: #e7e4e4;
  }
  .smallfooter{
    background-color: #000000;
    color: #ffffff;
  }


  /* networkong */
  .networking {

    padding-top: 8rem;
  }


  .section-text {
    border-left: 10px solid #3B71CA;
   
    padding: 15px 25px;
    font-size: 18px;
    /* padding-left: 40px; */
    padding: 20px;
  }
  .backsection{
    background-color: #f7f7f7;
    padding-left: 40px;
  }
  .product-circle {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 30px;
  }
  .product-circle-item {
    margin-right: 40px;
  }
  .product-circle-item svg {
    padding: 0;
  }
  svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
    background-color: #0D47A1;
    padding-top:  15px;
    
  }

  svg.radial-progress circle.incomplete {
    opacity: 0.25;
  }
 
  svg.radial-progress circle {
    stroke-width: 5;
  }
  svg.radial-progress circle {
    fill: rgba(0,0,0,0);
    stroke: #fff;
    stroke-width: 10;
    background-color: #0D47A1;
    font-size: 50px;
  }
  svg.radial-progress text {
    fill: #3c4761;
    font-size: 16px;
  }
  svg.radial-progress text {
    fill: #fff;
    text-anchor: middle;
  }
  .product-item-title {
    font-size: 17px;
    padding-top: 12px;
    text-align: center;
    line-height: 1.3;
   
    color: #262626;
    font-weight: 600;
  }

  .product-wrapper-bg {
    background-color: #0D47A1
  }
  .inner-wrap {
    width: 100%;
    overflow: hidden;
    margin-left: auto;
  }
  .product-content {
    background: #0D47A1
  }
  .product-content {
    transform: translateX(calc((100% - 1290px) / 2));
  }

  .product-inner {
    display: flex;
    padding: 60px 0 60px;
    gap: 30px;
  }

  .product-item {
    background: #fff;
    padding: 30px 30px 25px;
    border-radius: 5px;
    text-align: center;
    width: 20%;
  }
  .product-icon {
    width: 75px;
    height: 75px;
    background: #ddd;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 15px;
  }
  .product-icon svg{
    width: 50px;
    margin: auto;
    margin-bottom: auto;
    text-align: center;
    padding-top: 15px;
    color: #0D47A1;
  }
  


  /* Job Done */
  .jobdone {
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.card img {
  width: 250px;
  height: 150px;
  padding-left: 80px;
  text-align: center;
}

.card h5{
  font-size: 25px;
  padding-top: 10px;
}

.jobdone h2{
  font-weight: 600;
  font-size: 40px;
}

/* SHORT PRODUCTS */

.short{
  padding-top: 70px;
}

.card1 {
  background-color: #D9E9E9;
  display: flex;
  flex-direction: column;
  min-width: 0;
  box-shadow: 0 13px 29px rgba(0, 0, 0, 0.05);
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
}

.card-textprice {
  font-size: 30px;
  text-align: center;
  padding-bottom: 18px;
}

.card-title :hover{
  color: #1A237E;
}
.cartprice{
  background-color: #1A237E;
    /* width: 100%; */
    /* display: block; */
    padding-top: 11px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
  
  }
  

.cartprice h2{
  
   font-size: 18px;


}

.youtube{
  padding: 60px 0;
  z-index: 2;
  position: relative;
  background: #141D38;
  /* padding-bottom: 30px; */
}

.youtube h2{
  color: #FFFFFF;
  font-size: 48px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}

.youtube span{
  color: red;
}

.youtube h3{
  color: #FFFFFF;
  font-size: 48px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}

.youtubeback{
  width: 1200px;
  /* margin: 0 auto; */
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  /* position: sticky; */
  border-radius: 30px;
  margin-bottom: 62px;
  background-image: linear-gradient(116deg, #0D1D42 0%, #2B3858 100%);
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 50px;
}

.thanks{
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: linear-gradient(116deg, #0D1D42 0%, #2B3858 100%);
  padding-top: 8em;
  padding-bottom: 10em;
  padding-left: 50px;
}

.btnStep1:hover{
  background-color: #fff;
}


.thanks h2{
  color: #FFFFFF;
  font-size: 48px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}

.thanks p{
  color: #FFFFFF;
  font-size: 28px;
}


.but012{
  color: #FFFFFF;
  width: 200px;
  bottom: 52px;
  padding-top: 15px;
  padding-bottom: 15px;
  /* position: absolute; */
  font-size: 18px;
  text-align: center;
  font-family: var(--webull-font-family-semi-bold, OpenSans-SemiBold,Arial,sans-serif) !important;
  font-weight: 600;
  line-height: 28px;
  border-radius: 12px;
  background-image: linear-gradient(-71deg, #0DA2FF 0%, #0D76FF 100%);
  
}

.but012:hover {
  color: #ffffff;
}

.you011 {

  padding: 3em;
}

.you011 h3{
  
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 20px;
}

.youtubeHotel {
  background-image: url("https://dohahamadairport.com/sites/default/files/frontpage-banners/home-banner-top-shaded.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
}

.youtubeHotel h3{

  color: #FFFFFF;
  font-size: 48px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}
.youtubeHotel h2{

  color: #FFFFFF;
  font-size: 48px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}

.youtubeAir {

  background-image: url("https://wallpapers.com/images/high/united-airline-white-plane-bojdkieycf65evho.webp");
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.youtubeAir h2{
  color: #FFFFFF;
  font-size: 40px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}

.youtubeBeach {
  background-image: url("https://images.unsplash.com/photo-1532204153975-d02c743d220b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;

}

.youtubeBeach h2{
  color: #FFFFFF;
  font-size: 48px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}

.step3 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-photo/authentic-italian-pasta_24972-892.jpg");
}

.step3 h2{
  color: #FFFFFF;
  font-size: 48px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}

.step3 p {
  font-family: OpenSans-Regular;
  font-size: 2.1rem;
  color: rgb(255, 255, 255);
  line-height: 3.2rem;
  text-align: left;
  letter-spacing: 0px;
  font-weight: 400;
  cursor: inherit;
}

.you3 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1594623930572-300a3011d9ae?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.you3 h2{
  color: #FFFFFF;
  font-size: 48px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}

.you3 p {
  font-family: OpenSans-Regular;
  font-size: 2.1rem;
  color: rgb(255, 255, 255);
  line-height: 3.2rem;
  text-align: left;
  letter-spacing: 0px;
  font-weight: 400;
  cursor: inherit;
}


.country {
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i0.wp.com/picjumbo.com/wp-content/uploads/sunset-golden-hour-in-kenya-safari-free-photo.jpg?w=2210&quality=70");
}

.country h2{
  color: #FFFFFF;
  font-size: 48px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}

.country p {
  font-family: OpenSans-Regular;
  font-size: 2.1rem;
  color: rgb(255, 255, 255);
  line-height: 3.2rem;
  text-align: left;
  letter-spacing: 0px;
  font-weight: 400;
  cursor: inherit;
}


.celeb {
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1564186763535-ebb21ef5277f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.celeb h2{
  color: #FFFFFF;
  font-size: 48px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}

.celeb p {
  font-family: OpenSans-Regular;
  font-size: 2.1rem;
  color: rgb(255, 255, 255);
  line-height: 3.2rem;
  text-align: left;
  letter-spacing: 0px;
  font-weight: 400;
  cursor: inherit;
}

.topback {
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.v7world.com/media/service_banner.jpg");
}

.topback h2{
  font-size: 40px;
  color: #000000;
  font-weight: 600;
}

.btnStep {
  font-family: OpenSans-SemiBold;
  font-size: 2rem;
  font-weight: 700;
  width: 24rem;
  height: 4.8rem;
  line-height: 4.5rem;
  background-color: rgb(5, 30, 82);
  color: rgb(11, 15, 230);
  letter-spacing: 0px;
  white-space: pre;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem 0.2rem 0.2rem;
  padding: 0.2rem;
  border-radius: 1.2rem;
  z-index: 1;
  background-image: linear-gradient(270deg, rgb(242, 249, 253), rgb(247, 247, 247));
  cursor: pointer;
}
.btnStep1 {
  font-family: OpenSans-SemiBold;
  font-size: 2rem;
  font-weight: 700;
  width: 24rem;
  height: 3.8rem;
  line-height: 4.5rem;
  background-color: rgb(39, 104, 245);
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  white-space: pre;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem 0.2rem 0.2rem;
  padding: 0.2rem;
  border-radius: 1.2rem;
  z-index: 1;
  background-image: linear-gradient(270deg, rgb(13, 162, 255), rgb(13, 118, 255));
  cursor: pointer;
}

.stepRefer {
  padding: 4em;
}

.stepRefer p{
  color: #4F4F4F;
  font-size: 40px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 60px;
  
}

video {
  padding-top: 100px;
  width: 800px;
}

.cantactStyle {
  padding-top: 5em;
  padding-bottom: 5em;
  background: #141D38;
}

.cantactStyle h2 {

  color: #FFFFFF;
  font-size: 48px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}

.cantactStyle h4{
  font-family: OpenSans-Regular;
  font-size: 2.1rem;
  color: rgb(255, 255, 255);
  line-height: 3.2rem;
  text-align: left;
  letter-spacing: 0px;
  font-weight: 400;
  cursor: inherit;
}
.cantactStyle p{
  font-family: OpenSans-Regular;
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 3.2rem;
  text-align: left;
  letter-spacing: 0px;
  font-weight: 400;
  cursor: inherit;
}

.contactback{
  margin-bottom: 0px;
  border-radius: 30px;
  margin-bottom: 62px;
  background-image: linear-gradient(116deg, #0D1D42 0%, #2B3858 100%);
  padding-top: 3em;
  padding-bottom: 2em;
  padding-left: 30px;
  padding-right: 30px;
}

#textAreaExample {
  border-color: #ffffff;
  font-size: 18px;
  background-color: #fff;
}
.contactbutton {
  padding: 3rem;
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  background-image: linear-gradient(-71deg, #0DA2FF 0%, #0D76FF 100%);
}

.homes {
  padding-top: 60px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://static.vecteezy.com/system/resources/previews/025/751/345/non_2x/business-growth-wallpaper-with-the-glowing-bar-chart-static-and-up-arrow-stock-market-growth-in-futuristic-technology-style-graphic-of-successful-financial-development-on-the-dark-background-vector.jpg");
}
.homes h2{
  color: #FFFFFF;
  font-size: 48px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 900;
  line-height: 70px;
}

.homes h3{
  color: #FFF;
  font-size: 28px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 600;
  line-height: 50px;
}

.homes p{
  color: #EEEEEE;
  font-size: 22px;
  /* text-align: center; */
  font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
  font-weight: 600;
  line-height: 30px;
}

.btn0012 {
  font-family: OpenSans-SemiBold;
  font-size: 2rem;
  font-weight: 700;
  width: 24rem;
  height: 3.8rem;
  line-height: 4.5rem;
  background-color: rgb(39, 104, 245);
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  white-space: pre;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem 0.2rem 0.2rem;
  padding: 0.2rem;
  border-radius: 1.2rem;
  z-index: 1;
  background-image: linear-gradient(270deg, rgb(13, 162, 255), rgb(13, 118, 255));
  cursor: pointer;
}

.homeTwo {
  padding-top: 40px;
  padding-bottom: 40px;
}

.home013 {
  background-image: url("https://wbstatic.webullfintech.com/v1/webull-us-g/assets/befe8cc0a71f86d0ecbc82af510296f3.webm");
}

.homelogo {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

.txthome{
  color: #fff;
  font-size: 600;
}



/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 45em;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  width: 280px;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.icon_header{
  color: #ffffff;
  /* padding-left: 30px; */
  font-size: 30px;
  
}


.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 10px 50px 10px 50px;
  font-size: 18px;
  display: flex;

}


.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
  padding-left: 10px;
 
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */

/* Header  */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  background-color: #020259;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.header-right {
  display: flex;
  padding-right: 50px;
}

.icon_header{
  color: #ffffff;
  /* padding-left: 30px; */
  font-size: 30px;
  
}
.dropbtn {
  /* background-color: #04AA6D; */
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  font-weight: 600;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {}


.menu-icon {
  display: none;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
  color: #ffffff;
  display: flex;
}

.icon1 {
  vertical-align: middle;
  line-height: 11px;
  font-size: 50px;
  color: #ffffff;
  /* padding-top: 30px; */
  text-align: center;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }
  .header {
    padding-top: 30px;
  }
  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
  .customertable {
    padding: 30px;
    width: 500px;
    /* padding-left: 300px;
    padding-right: 300px; */
  }
}


@media screen and (max-width: 768px) {
  .homes h2{
    color: #FFFFFF;
    font-size: 28px;
     text-align: center;
    font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
    font-weight: 800;
    line-height: 58px;
  }

  .btn0012 {
    font-family: OpenSans-SemiBold;
    font-size: 1.5rem;
    font-weight: 700;
    width: 20rem;
    height: 2.8rem;
    line-height: 4.5rem;
    background-color: rgb(39, 104, 245);
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    white-space: pre;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0.2rem 0.2rem;
    padding: 0.2rem;
    border-radius: 1.2rem;
    z-index: 1;
    background-image: linear-gradient(270deg, rgb(13, 162, 255), rgb(13, 118, 255));
    cursor: pointer;
  }

  .stepRefer p{
    color: #4F4F4F;
    font-size: 28px;
    font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
    font-weight: 800;
    line-height: 50px;
   
  }
  .btnStep1 {
    font-family: OpenSans-SemiBold;
    font-size: 1.5rem;
    font-weight: 700;
    width: 20rem;
    height: 2.8rem;
    line-height: 4.5rem;
    background-color: rgb(39, 104, 245);
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    white-space: pre;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0.2rem 0.2rem;
    padding: 0.2rem;
    border-radius: 1.2rem;
    z-index: 1;
    background-image: linear-gradient(270deg, rgb(13, 162, 255), rgb(13, 118, 255));
    cursor: pointer;
   
  }
  .homeTwo {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .btnStep {
    font-family: OpenSans-SemiBold;
    font-size: 1.5rem;
    font-weight: 700;
    width: 20rem;
    height: 3.8rem;
    line-height: 4.5rem;
    background-color: rgb(39, 104, 245);
    color: rgb(11, 15, 230);
    letter-spacing: 0px;
    white-space: pre;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0.2rem 0.2rem;
    padding: 0.2rem;
    border-radius: 1.2rem;
    z-index: 1;
    background-image: linear-gradient(270deg, rgb(242, 249, 253), rgb(247, 247, 247));
    cursor: pointer;
  }
  .youtubeBeach h2{
    color: #FFFFFF;
    font-size: 35px;
    /* text-align: center; */
    font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
    font-weight: 600;
    line-height: 60px;
  }

  .you011 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .cantactStyle {
    padding-top: 3em;
    padding-bottom: 2em;
    background: #141D38;
  }

  .cantactStyle h2 {
    color: #FFFFFF;
    font-size: 28px;
    /* text-align: center; */
    font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
    font-weight: 900;
    line-height: 70px;
  }
  
  .cantactStyle h4{
    font-family: OpenSans-Regular;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    line-height: 2.2rem;
    text-align: left;
    letter-spacing: 0px;
    font-weight: 400;
    cursor: inherit;
  }
  .thanks{
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(116deg, #0D1D42 0%, #2B3858 100%);
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 20px;
  }
  
 
  
  .thanks h2{
    color: #FFFFFF;
    font-size: 38px;
    /* text-align: center; */
    font-family: var(--webull-font-family-extra-bold, OpenSans-Extrabold,Arial,sans-serif) !important;
    font-weight: 500;
    line-height: 60px;
  }
  
  .thanks p{
    color: #FFFFFF;
    font-size: 24px;
  }
  
  
  
}


@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }
  .header {
    padding-top: 30px;
  }
  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
  .customertable {
    padding: 30px;
    width: 500px;
    /* padding-left: 300px;
    padding-right: 300px; */
  }
}
/* Small <= 768px */
  
/* .customer{
  width: 1090px;
} */

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .customertable {
     width: 200px; 
    padding-left: 5px;
    padding-right: 5px; 
  }
 
  .main2 h1{
      font-size: 18px;
  }
  
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
  .customertable {
    width: 200px; 
   padding-left: 50px;
   padding-right: 50px; 
 }
}